* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-base-1: #1ec072;
    --color-base-2: #157c4e;
    --color-base-3: #126a42;
    --color-base-4: #0f5634;
    --color-base-5: #0c462d;
    --color-base-6: #093527;
    --color-base-7: #062720;
    --color-base-8: #031a1a;
}
