.title,
.title-synopsis,
.synopsis-content {
    color: var(--color-white);
}

.title {
    background-color: var(--color-base-4);
    padding: 10px 20px;
}
.title-synopsis {
    background-color: var(--color-base-6);
    padding: 10px 20px;
}
.synopsis-content {
    background-color: var(--color-base-6);
    padding: 10px 20px;
    font-size: 18px;
}
