.cabecalho {
    width: 100%;
    background-color: var(--color-base-6);

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.cabecalho .logo {
    background-color: var(--color-base-5);
    color: var(--color-white);
    min-width: 65px;
    min-height: 65px;
    border-radius: 50%;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    border: 3px solid var(--color-base-1);
}
.cabecalho .logo .part-1 {
    font-size: 24px;
}
.cabecalho .logo .part-2 {
    font-size: 12px;
}
.cabecalho .navbar .navbar-ul {
    display: flex;
    list-style-type: none;
}
.cabecalho .navbar .navbar-ul li {
    margin-right: 20px;
}
.cabecalho .navbar .navbar-ul li:last-child {
    margin-right: 0;
}
.cabecalho .navbar .navbar-ul li a {
    transition: 200ms;
    color: var(--color-white);
    text-decoration: none;
    background-color: var(--color-base-1);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.cabecalho .navbar .navbar-ul li a:hover {
    background-color: var(--color-base-3);
}
