.container-animes {
    width: 100%;
    min-height: calc(100vh - 248px);
}
.container-animes .content-animes {
    padding: 20px;
    background-color: var(--color-base-7);

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
    padding: 40px 20px;
    gap: 20px;
}
.main-search-title {
    color: var(--color-white);
    width: 100%;
    height: 60px;
    padding: 0 20px;
    font-size: 20px;
    display: flex;
    align-items: center;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.main-search-result {
    color: var(--color-base-1);
    width: 100%;
    margin-left: 10px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.anime-not-found {
    width: 100%;
    height: calc(100vh - 388px);

    display: flex;
    align-items: center;
    justify-content: center;

    grid-column: 1 / -1;
}
.anime-not-found .content {
    width: 100%;
    height: 80px;
    font-size: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--color-base-5);
    text-align: center;
    color: var(--color-white);
}
.fetch-error {
    width: 100%;
    height: calc(100vh - 388px);

    display: flex;
    align-items: center;
    justify-content: center;

    grid-column: 1 / -1;

    color: var(--color-white);
    flex-direction: column;
    gap: 20px;
    padding: 0 20px;
}
.fetch-error h1 {
    font-size: 30px;
}
.fetch-error p {
    font-size: 20px;
}

@media (max-width: 1800px) {
    .container-animes .content-animes {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (max-width: 1500px) {
    .container-animes .content-animes {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (max-width: 1220px) {
    .container-animes .content-animes {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 900px) {
    .container-animes .content-animes {
        grid-template-columns: repeat(2, 1fr);
    }
}
